<!-- ================= ABOUT DESCODE DIGITAL SECTION ================= -->

<section class="py-0 fadeInUp" data-wow-delay="0.1s style="background:#fff6f9;" >
  <div class="container">
    <div class="row align-items-center gy-5">

      <!-- LEFT CONTENT -->
      

      <div class="col-lg-6">

        <div class="mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
          <h4 class="text-primary">Our Capabilities &nbsp; </h4>
          <h1 class="display-5"><strong> Descode Digital</strong> <br />- Technologies We Use</h1>
          <P>DesCode Service Offerings cover end-to-end design and development solutions, helping businesses build scalable, user-focused, and high-performing digital products.</P>
    
        <!-- Skills -->
        <h5 class="fw-semibold mb-3">Our Expertise -</h5>

        <div class="row g-3 mb-4">
          <div class="col-sm-6 d-flex align-items-center gap-2">
            <span style="color:#f72b4d;font-weight:bold;">✓</span>
            <span style="color:#151923;">Figma, Photoshop & Illustrator</span>
          </div>
          <div class="col-sm-6 d-flex align-items-center gap-2">
            <span style="color:#f72b4d;font-weight:bold;">✓</span>
            <span style="color:#151923;">HTML5, CSS3, Tailwind CSS</span>
          </div>
          <div class="col-sm-6 d-flex align-items-center gap-2">
            <span style="color:#f72b4d;font-weight:bold;">✓</span>
            <span style="color:#151923;">React, Next.JS & Node.JS</span>
          </div>
          <div class="col-sm-6 d-flex align-items-center gap-2">
            <span style="color:#f72b4d;font-weight:bold;">✓</span>
            <span style="color:#151923;">React Native, Flutter</span>
          </div>
          <div class="col-sm-6 d-flex align-items-center gap-2">
            <span style="color:#f72b4d;font-weight:bold;">✓</span>
            <span style="color:#151923;">WordPress & Magento</span>
          </div>
          <div class="col-sm-6 d-flex align-items-center gap-2">
            <span style="color:#f72b4d;font-weight:bold;">✓</span>
            <span style="color:#151923;">Shopify, PHP & MySql</span>
          </div>
        </div>

        <!-- Button -->
         <a class="btn btn-light rounded-pill py-3 px-bt" href="#">More About Expertise <i class="fa-solid fa-angles-right"></i></a>

        </div>
      </div>

      <!-- RIGHT IMAGE AREA -->
      
       <div class="col-lg-6 position-relative">
         <img src="img/technologies.png" class="img-fluid w-100 rounded-top" alt="Descode Tchnologies"/>
      </div>

    </div>
    <div style="padding-bottom:45px;">&nbsp;</div>
  </div>
</section>
