 <!-- About Start -->
        <div class="container-fluid about  py-5">
            <div class="container py-4">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 col-xl-5 wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="about-img">
                            <img src="img/about-3.png" class="img-fluid w-100 rounded-top bg-white" alt="Image">
                            <img src="img/about-2.jpg" class="img-fluid w-100 rounded-bottom" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7 wow fadeInRight" data-wow-delay="0.3s">
                        <h4 class="text-primary">About - DesCode Digital </h4>
                        <h1 class="display-5 mb-4">Leading IT Company <strong>Delivering Digital Solutions</strong>  Worldwide</h1>
                        <p class="text ps-4 mb-4">DesCode Digital provides innovative, scalable, and high-performance digital solutions that help businesses grow and succeed in a rapidly evolving digital landscape. Our expertise spans design, web and mobile application development, and modern technologies tailored to global business needs.
                        </p>
                        <div class="row g-4 justify-content-between mb-5">
                            <div class="col-lg-6 col-xl-5">
                                <p class="text-dark"><i class="fas fa-check-circle text-primary-0 me-1"></i>Design Strategy</p>
                                <p class="text-dark mb-0"><i class="fas fa-check-circle text-primary-0 me-1"></i>UI/UX Design</p>
                            </div>
                            <div class="col-lg-6 col-xl-7">
                                <p class="text-dark"><i class="fas fa-check-circle text-primary-0 me-1"></i>Development</p>
                                <p class="text-dark mb-0"><i class="fas fa-check-circle text-primary-0 me-1"></i>Deployment & Maintenance</p>
                            </div>
                        </div>
                       
                        <div class="row g-4 text-center align-items-center justify-content-center">
                            <div class="col-sm-4">
                                <div class="bg1 rounded p-3">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="counter-value fs-1 fw-bold " data-toggle="counter-up">1000</span>
                                        <h4 class=" fs-1 mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                                    </div>
                                    <div class="w-100 d-flex align-items-center justify-content-center">
                                        <p class=" mb-0">Project Complete</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="bg2 rounded p-3">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="counter-value fs-1 fw-bold text-white" data-toggle="counter-up">14</span>
                                        <h4 class="text-white fs-1 mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                                    </div>
                                    <div class="w-100 d-flex align-items-center justify-content-center">
                                        <p class="mb-0">Years Of Experience</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="bg1 rounded p-3">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="counter-value fs-1 fw-bold" data-toggle="counter-up">20</span>
                                        <h4 class="fs-1 mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                                    </div>
                                    <div class="w-100 d-flex align-items-center justify-content-center">
                                        <p class="mb-0">Team Members</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
