  <!-- Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
            <div class="container py-2 bs-footer-text">
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <div class="footer-item">
                                <p class="mb-3">
                                    <img src="../img/descode-digital-logo-w.svg" width="210" alt="DesCode Digital - UI/UX Design & Web Development Agency Logo" />

                                </p>
                                <p>DesCode builds scalable, high-performance digital solutions using modern technologies.</p>
                                <p>We build scalable web and mobile applications focused on usability, performance, and clean architecture.</p>
                                <div class="d-flex align-items-center">
                                    <a class="btn btn-light btn-md-square me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                     <a
                                            href="https://wa.me/919977007187"
                                            target="_blank"
                                            class="whatsapp-float btn btn-light btn-md-square me-2"
                                            aria-label="Chat on WhatsApp"
                                            >
                                            <i class="fa-brands fa-whatsapp"></i>
                                        </a>
                                    <a class="btn btn-light btn-md-square me-2" href=""><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-light btn-md-square me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                                 <div class="footer-btn text-start">
                               
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h5 class="text-white2 mb-3">Oue Expertise</h5>
                            <a href="#"><i class="fas fa-angle-right me-2"></i>Figma (Design System)</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i>Illustrator & Photoshop</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i>HTML5 & CSS3</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i>React, Next.JS</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i>React Native and Node.js</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i>PHP and MySql</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i>WordPress & Shopify</a>
                           
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h5 class="text-white2 mb-3">How We Can Help</h5>
                            <a href="#"><i class="fa-solid fa-angle-right me-2"></i>Logo & Brand Design</a>
                            <a href="#"><i class="fa-solid fa-angle-right me-2"></i>Websites Design</a>
                            <a href="#"><i class="fa-solid fa-angle-right me-2"></i>Mobile App Design</a>
                            <a href="#"><i class="fa-solid fa-angle-right me-2"></i>Business Websites</a>
                            <a href="#"><i class="fa-solid fa-angle-right me-2"></i>WordPress & Plugins</a>
                            <a href="#"><i class="fa-solid fa-angle-right me-2"></i>Shopify Customization</a>
                            <a href="#"><i class="fa-solid fa-angle-right me-2"></i>E-commerce Solutions</a>

                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h5 class="text-white2 mb-3">Contact Information</h5>
                            <a href=""><i class="fa fa-map-marker-alt me-2"></i>51 Mall Scheme No. 51</a>
                            <a href=""><i class="fas fa-envelope me-2"></i> migrajendra@gmail.com</a>
                            <a href=""><i class="fas fa-envelope me-2"></i> www.descode.in</a>
                            <a href=""><i class="fas fa-phone me-2"></i> +91 9977007187</a>
                            <a href="" class="mb-3"><i class="fas fa-print me-2"></i> +91 9977007187</a>
                             <div class="footer-btn text-start">
                                <a href="https://wa.me/919977007187"
  target="_blank" class="btn btn-whatsapp rounded-pill px-4" style="line-height: 30px; margin-top: 10px;;"> Chat on WhatsApp <i class="fa fa-arrow-right ms-1"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer End -->

        
        <!-- Copyright Start -->
        <div class="container-fluid footer">
            <div class="container copyright  py-4">
                <div class="row g-4 align-items-center">
                    <div class="col-md-6 text-center text-md-start mb-md-0">
                        © 2025 Descode Digital. All Rights Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end text-body">
                        <!--/*** The author’s attribution link must remain intact in the template. ***/-->
                        <!--/*** If you wish to remove this credit link, please purchase the Pro Version . ***/-->
                        Designed & Developed by <a class="text-primary2" href="https://descode.in/">Descode Digital</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->

        