 <!-- Topbar Start -->
        <div class="container-fluid topbar px-4 d-none d-lg-block">
            <div class="container px-0">
                <div class="row gx-0 align-items-center" style="height: 45px;">
                    <div class="col-lg-8 text-center text-lg-start mb-lg-0">
                        <div class="d-flex flex-wrap">
                            <a href="#" class="text-muted2 me-4"><i class="fas fa-phone-alt text-primary2 me-2"></i>+91 9977007187</a>
                            <a href="#" class="text-muted2 me-0"><i class="fas fa-envelope text-primary2 me-2"></i>migrajendra@gmail.com</a>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center text-lg-end">
                        <div class="d-flex align-items-center justify-content-end">
                            <a href="#" class="btn btn-primary btn-square rounded-circle nav-fill me-3"><i class="fab fa-facebook-f text-white"></i></a>
                            <a href="#" class="btn btn-primary btn-square rounded-circle nav-fill me-3"><i class="fab fa-twitter text-white"></i></a>
                            <a href="#" class="btn btn-primary btn-square rounded-circle nav-fill me-3"><i class="fab fa-instagram text-white"></i></a>
                            <a href="#" class="btn btn-primary btn-square rounded-circle nav-fill me-0"><i class="fab fa-linkedin-in text-white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->


       <!-- Navbar Start -->
<div id="mainHeader" class="container-fluid px-0">
    <div class="container px-m">
        <nav class="navbar navbar-expand-lg navbar-dark bg-white py-33 px-4">
            <a href="index.html" class="navbar-brand p-0">
                <img 
                  src="../img/descode-digital-logo.svg" 
                  width="200" 
                  alt="DesCode Digital - UI/UX Design & Web Development Agency Logo"
                />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse mobile-slide-menu" id="navbarCollapse" style="font-size:1.1em;">
                   <div>
                    <a href="index.html" class="navbar-brand p-0">
                <img 
                  src="../img/descode-digital-logo.svg" 
                  width="180" 
                  alt="DesCode Digital - UI/UX Design & Web Development Agency Logo"
                />
            </a>
                   </div> 
                <div class="navbar-nav ms-auto py-0">
                    <a href="index.html" class="nav-item nav-link">Home</a>
                    <a href="about.html" class="nav-item nav-link">About</a>
                    <a href="service.html" class="nav-item nav-link">Services</a>
                    <a href="project.html" class="nav-item nav-link">Projects</a>
                    <a href="contact.html" class="nav-item nav-link">Blog</a>
                </div>

                <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-bt ms-3">
                    Contact Us
                </a>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->

