<!-- Services Start -->
        <div class="container-fluid service py-5">
            <div class="container">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                    <h4 class="text-primary">Services - Built to scale &nbsp; </h4>
                    <h1 class="display-5"><strong> Descode Digital</strong> <br />Professional Digital Services</h1>
                    <P>DesCode Service Offerings cover end-to-end design and development solutions, helping businesses build scalable, user-focused, and high-performing digital products.</P>
                </div>
                <div class="row g-4 justify-content-center text-center">
                    <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item bg-light rounded">
                            <div class="service-img">
                                <img src="img/descode-logo-design.jpg" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="service-content text-start p-4">
                                <div class="service-content-inner">
                                    <a href="#" class="h4 mb-3 d-inline-flex text-start">
                                        Logo & Brand Design
                                    </a>
                                    <p class="mb-3">
                                        Create a strong brand identity with memorable logos, color systems, typography...
                                    </p>
                                    <a class="btn btn-light rounded-pill py-2 px-44" href="#">Read More <i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item bg-light rounded">
                            <div class="service-img">
                                <img src="img/descode-ui-ux.jpg" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="service-content text-start p-4">
                                <div class="service-content-inner">
                                    <a href="#" class="h4 mb-3 d-inline-flex text-start">
                                        UI/UX & Product Design
                                    </a>
                                    <p class="mb-4">
                                        User-centered interface and experience design focused on usability, accessibility...
                                    </p>
                                    <a class="btn btn-light rounded-pill py-2 px-44" href="#">Read More <i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item bg-light rounded">
                            <div class="service-img">
                                <img src="img/service-1.jpg" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="service-content text-start p-4">
                                <div class="service-content-inner">
                                    <a href="#" class="h4 mb-3 d-inline-flex text-start">
                                        Frontend Development
                                    </a>
                                    <p class="mb-4">
                                       Build fast, scalable, and SEO-friendly web applications using modern React architecture...
                                    </p>
                                    <a class="btn btn-light rounded-pill py-2 px-44" href="#">Read More <i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                      <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item bg-light rounded">
                            <div class="service-img">
                                <img src="img/web-mobile-development.jpg" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="service-content text-start p-4">
                                <div class="service-content-inner">
                                    <a href="#" class="h4 mb-3 d-inline-flex text-start">
                                       Application Development
                                    </a>
                                    <p class="mb-4">
                                       End-to-end design and development of responsive web apps and cross-platform...
                                    </p>
                                    <a class="btn btn-light rounded-pill py-2 px-44" href="#">Read More <i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                      <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item bg-light rounded">
                            <div class="service-img">
                                <img src="img/wordpress-development.jpg" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="service-content text-start p-4">
                                <div class="service-content-inner">
                                    <a href="#" class="h4 mb-3 d-inline-flex text-start">
                                        WordPress CMS & Plugin
                                    </a>
                                    <p class="mb-4">
                                       Custom WordPress websites, themes, and plugins optimized for speed, security...
                                    </p>
                                    <a class="btn btn-light rounded-pill py-2 px-44" href="#">Read More <i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                      <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item bg-light rounded">
                            <div class="service-img">
                                <img src="img/shopify-development.jpg" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="service-content text-start p-4">
                                <div class="service-content-inner">
                                    <a href="#" class="h4 mb-3 d-inline-flex text-start">
                                        Shopify Customization
                                    </a>
                                    <p class="mb-4">
                                       Professional Shopify store setup, custom theme development, and conversion-optimized...
                                    </p>
                                    <a class="btn btn-light rounded-pill py-2 px-44" href="#">Read More <i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-12">
                        <a class="btn btn-primary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="#">All Services &nbsp;  <i class="fa-regular fa-circle-right"></i></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services End -->